services:
  frontend:
    build: .
    container_name: my-project-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    build:
      context: ../../
      dockerfile: Dockerfile
    container_name: my-project-backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=your_root_password
      - DB_NAME=my_database
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: my-project-mysql
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password
      MYSQL_DATABASE: my_database
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: my-project-phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: your_root_password
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  mysql-data: